# Copia a .env y ajusta según tu entorno

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fashion
POSTGRES_USER=app
POSTGRES_PASSWORD=app

# AWS S3
S3_REGION=eu-west-1
S3_BUCKET=fashionai-images
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# App
API_PORT=8080
ENV=dev
CORS_ALLOW_ORIGINS=*
